.product-wrapper {
    background-color: white;
    border: 3px solid black;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 20.5rem;
    max-height: 16.3rem;
}

.product-subwrapper {
    width: 97%;
    height: 97%;
    display: grid;
    padding-top: 3%;
    padding-right: 3%;
    grid-template-columns: 1.7fr 1fr;
    grid-template-rows: 2fr 0.5fr 1fr 0.7fr;
    justify-content: center;
    align-items: center;
}

/* image */ 

.product-image-wrapper {
    grid-row: 1 / span 3;
    max-width: 11rem;
    max-height: 11rem;
    overflow: hidden;
    padding: 7px;
    margin-bottom: 0.4rem;
}

.product-image {
    max-width: 100%;
    max-height: 100%;
    cursor: zoom-in;
}

/* buttons */

.button-wrapper {
    grid-row: 4;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
}

.button-wrapper > div:hover {
    background-color: #8da3c9;
}

.button-wrapper > div {
    width: fit-content;
    display: flex;
    padding: 0.5vh;
    gap: 0.35rem;
    border-radius: 7px;
    border: 2px solid black;
    background-color: #577ab7;
}

#bw3 {
    background-color: #794141;
}

#bw3:hover {
    background-color: #af7676;
}

/* text */

.product-name-wrapper {
    align-self: flex-start;
    height: 8.3rem;
    user-select: text;
    overflow: scroll;
    /* background-color: red; */
}

.product-name {
    max-width: 100%;
    max-height: 100%;
}


.product-price {
    font-size: 1.2rem;
    font-weight: bold;
}


