.sidebar-wrapper {
    background-color: #577ab7;
    height: 100%;
    border-right: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 6%;
    align-content: center;
}

.header-and-stores-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

/* store-header */
.stores-header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   /*  padding-top: 13%;
    padding-bottom: 6%; */
    color: white;
}

.return-to-stores-wrapper {
    text-decoration: underline;
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    font-size: 1.3rem;
    cursor: pointer;
    width: 75%;
}

.return-to-stores-wrapper > span {
    text-align: center;
}

.return-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.stores-description {
    display: block;
    font-size: 1.4rem;
    text-decoration: underline;
    align-self: center;
    width: 80%;
}

/* stores list */
.stores-wrapper {
    /* flex-grow: 1; */
    width: 100%;
    align-self: center;
}

.stores-subwrapper {
    background-color: #eeeee4;
    height: fit-content;
    margin-inline: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.stores-subwrapper:first-child {
    border-top: 2px solid black;
}

.store-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    border-inline: 2px solid black;
    border-bottom: 2px solid black;
}

.store-checkbox {
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* selection options */

.store-logo-wrapper {
    display: block;
    max-width: 100rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 3%;
    flex-grow: 1;
}

.store-logo {
    max-width: 10rem;
    max-height: 2.6rem;
    align-self: center;
}

.store-name {
    display: block;
    margin-left: 5%;
}

/* filtering and sorting options */

/* #sort, #filter-price, #filter-state {
    display: flex;
    flex-direction: column;
    padding-block: 3%;
}

#sort > span {
    cursor: default;
}

#filter-price > span {
    cursor: default;
}

#filter-state > span {
    cursor: default;
}

.sort-option-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 72%;
    font-size: 1.05rem;
}

.sort-option-wrapper > div {
    text-align: start;
    flex-grow: 1;
}

.price-wrapper {
    display: flex;
    width: 100%;
    padding-right: 2%;
    margin-top: 4%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 1.1rem;
}

.price-wrapper > div {
    margin-left: 2%;
}

.price-search-field {
    width: fit-content;
    max-width: 31%;
    background-color: white;
    font-size: 1rem;
    text-align: center;
} */

/* store footer */

.stores-footer-wrapper {/* 
    margin-bottom: 4%;
    margin-top: 4%; */
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    align-items: center;
    color: white;
}

.stores-footer-wrapper > a {
    color: inherit;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    justify-content: center;
    width: 100%;
    gap: 0.3rem;
    width: 100%;
    padding: 1.5%;
}

.stores-footer-wrapper > span {
    width: 89%;
    font-style: italic;
    display: block;
    text-align: center;
}