* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "Tauri";
    src: url(/react/src/resources/Tauri-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Tauri", sans-serif;
}

/* header */

.header-container {
    display: flex;
    margin-bottom: 21vh;
    margin-top: 0vh;
    margin-left: 0vw;
    margin-right: 0vw;
    justify-content: space-around;
    align-items: center;
}

/* .header-container > div:first-child {
    visibility: hidden;
    font-size: xxx-large;
} */

/*
.header-container > div, .header-container > img {
    background-color: blue;
} */

.logo {
    margin: 1vw 1vh;
}

.cart-container {
    margin: 0px;
}

.cart-icon:hover {
    cursor: pointer;
}

.cart-total {
    font-size: x-large;
    color: rgb(179, 69, 0);
}

.cart-icon {
    width: 65px;
    height: 65px;
}

/* search */

.search-container-flex {
    display: flex;
    justify-content: center;
}

.search-container{
    display: flex;
    width: 40vw;
    height: 90px;
    border: 3px solid rgb(179, 69, 0);
    border-radius: 1.1vw;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
}

.search-icon {
    width: 40px;
    height: 40px;
}

.search-icon:hover {
    cursor: pointer;
}

.search-field {
    border: hidden;
    height: 60%;
    flex-grow: 0.85;
    font-size: 1.5rem;
}

.search-field:focus {
    outline: 0vw;
}

/* footer */

